
@font-face {
  font-family: 'MyWebFont-primary' ;
  src: url('./asset/Font/AdobeArabic-Bold.otf');
}
@font-face {
  font-family: 'MyWebFont-secondery' ;
  src: url('./asset/Font/AdobeArabic-Regular.otf');
}
@font-face {
  font-family: 'MyWebFont-third' ;
  src: url('./asset/Font/AdobeHebrew-Bold.otf');
}